.mainLogin{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 156, 215);
}
.mainLogin > .loginBx{
    position: relative;
    width: 450px;
    margin-top: 30px;
    min-height: 70vh;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(144, 224, 175);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    /* border: 1px solid black; */
}
.mainLogin > .loginBx > .loginHead{
    padding: 10px;
    text-align: center;
    /* border: 1px solid red; */
}
.mainLogin > .loginBx > .loginHead > h1{
    font-size: 25px;
    font-weight: 700;
}
.mainLogin > .loginBx > .loginInputB{
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* border: 1px solid black; */
}
.mainLogin > .loginBx > .loginInputB > span{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.mainLogin > .loginBx > .loginInputB > span input{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.mainLogin > .loginBx > .loginInputB > span button{
    /* border: 1px solid b; */
    background-color: royalblue;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;;
}
.mainLogin > .loginBx > .loginTerms{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    text-align: center;
    /* border: 1px solid black; */
}
.mainLogin > .loginBx > .loginTerms > h2{
    font-weight: 700;
    color: gray;
}
.mainLogin > .loginBx > .loginTerms > p{
    font-size: 12px;
}
.mainLogin > .loginBx > #loginMesageError{
    position: absolute;
    bottom: 20px;
    color: red;
    font-size: 15px;
}
.mainLogin > .loginBx > #loginMesageSuccess{
    position: absolute;
    bottom: 20px;
    color: green;
    font-size: 15px;
}

.mainLogin > .loginBx > .loginTerms > a {
    color: royalblue;
}

.mainLogin > .loginBx > .loginInputB button{
    border: 1px solid black;
    padding: 5px 20px;
    background-color:royalblue;
    color: white;
}
.inp{
    width: 18px;
    height: 18px;
    margin-top: 5px;
}
.inpChecbx{
    display: flex;
    margin-left: 10px;
    
}
.inpChecbx > h2{
    margin-left: 5px;
    font-size: 16px;
}
.loginTerms p{
    margin-left: 10px;
    text-align: left;
}

.loginTerms h6{
    margin: 30px 10px;
    font-size: 13px;
    text-align: left;
}
.loginTerms span{
    color: blue;
}
.logoImgdiv{
    width: 100%;
    height: 130px;
    text-align: center;
    margin: auto;
    margin-top: -10px;
}
.logoImgdiv .imglogo{
    margin: auto;
    width: 60%;
    height: 140px;
    border-radius: 50px;
    text-align: center;
}
.logoImgdivReg{
    width: 100%;
    height: 130px;
    text-align: center;
}
.logoImgdivReg .imglogoReg{
    margin: auto;
    width: 60%;
    height: 140px;
    border-radius: 50px;
    text-align: center;
}